<ul style="list-style:none;padding:0;" data-tru-label-container>

    <h1 class="page-header">Edit Controls</h1>
    <!--std-file-edit-->
    <!--<h3>File</h3>-->
    <!--<div data-ng-controller="fileEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-file-edit label="Label" field="fields.Field1"></std-file-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;std-checkbox-edit&ndash;&gt;-->
    <!--<h3>Checkbox</h3>-->
    <!--<div data-ng-controller="checkboxEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-checkbox-edit label="Label" field="fields.Field1"></std-checkbox-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;std-decimal-edit&ndash;&gt;-->
    <!--<h3>Decimal</h3>-->
    <!--<div data-ng-controller="decimalEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-decimal-edit label="Label" field="fields.Field1"></std-decimal-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;std-dropdown-edit&ndash;&gt;-->
    <!--<h3>Dropdown</h3>-->
    <!--<div data-ng-controller="dropdownEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-dropdown-edit label="Label" field="fields.Field1"></std-dropdown-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;std-float-edit&ndash;&gt;-->
    <h3>Float</h3>
    <div data-ng-controller="floatEditController">
        <div class="bs-example" style="padding-bottom: 24px;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>
            </div>
            <std-float-edit label="Label" field="fields.Field1"></std-float-edit>
        </div>
    </div>

    <!--std-integer-edit-->
    <h3>Integer</h3>
    <div data-ng-controller="integerEditController">
        <div class="bs-example" style="padding-bottom: 24px;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>
            </div>
            <std-integer-edit label="Label" field="fields.Field1"></std-integer-edit>
        </div>
    </div>

    <!--std-link-edit-->
    <!--<h3>Link</h3>-->
    <!--<div data-ng-controller="linkEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-link-edit label="Label" field="fields.Field1"></std-link-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-masked-edit-->-->
    <!--<h3>Masked</h3>-->
    <!--<div data-ng-controller="maskedEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-masked-edit label="Label" field="fields.Field1"></std-masked-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-multiline-edit-->-->
    <!--<h3>Multiline Textbox</h3>-->
    <!--<div data-ng-controller="multilineEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-multiline-edit label="Label" field="fields.Field1"></std-multiline-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-password-edit-->-->
    <h3>Password</h3>
    <div data-ng-controller="passwordEditController">
        <div class="bs-example" style="padding-bottom: 24px;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>
            </div>
            <std-password-edit label="Label" field="fields.Field1"></std-password-edit>
        </div>
    </div>

    <!--<!--std-percent-edit-->-->
    <!--<h3>Percent</h3>-->
    <!--<div data-ng-controller="percentEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-percent-edit label="Label" field="fields.Field1"></std-percent-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-text-edit-->-->
    <!--<h3>Text</h3>-->
    <!--<div data-ng-controller="textEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-text-edit label="Label" field="fields.Field1"></std-text-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-textbox-edit-->-->
    <!--<h3>Textbox</h3>-->
    <!--<div data-ng-controller="textboxEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-textbox-edit label="Label" field="fields.Field1"></std-textbox-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-date-edit-->-->
    <h3>Date</h3>
    <div data-ng-controller="dateEditController">
        <div class="bs-example" style="padding-bottom: 24px;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>
            </div>
            <std-date-edit label="Label" field="fields.Field1"></std-date-edit>
        </div>
    </div>

    <!--<!--std-time-edit-->
    <!--<h3>Time</h3>-->
    <!--<div data-ng-controller="timeEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-time-edit label="Label" field="fields.Field1"></std-time-edit>-->
        <!--</div>-->
    <!--</div>-->

    <!--<!--std-datetime-edit-->
    <h3>Datetime</h3>
    <div data-ng-controller="datetimeEditController">
        <div class="bs-example" style="padding-bottom: 24px;">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fields.Field1.editor.isEditing" /> IsEditing</label>
            </div>
            <std-datetime-edit label="Label" field="fields.Field1"></std-datetime-edit>
        </div>
    </div>

    <!--<!--std-usa-address-edit-->
    <!--<h3>USA Address</h3>-->
    <!--<tabset>-->
        <!--<tab heading="index.html">-->
                    <!--<pre class="prettyprint linenums nocode lang-html">-->

                    <!--</pre>-->
        <!--</tab>-->
        <!--<tab heading="std-usa-address-edit.js">-->

        <!--</tab>-->
        <!--<tab heading="std-usa-address-edit.html">-->
        <!--</tab>-->
    <!--</tabset>-->

    <!--<div data-ng-controller="usaAddressEditController">-->
        <!--<div class="bs-example" style="padding-bottom: 24px;" append-source="">-->
            <!--<div class="checkbox">-->
                <!--<label><input type="checkbox" ng-model="isEditing" /> IsEditing</label>-->
            <!--</div>-->
            <!--<std-usa-address-edit label="Main" field="fields.Field1"></std-usa-address-edit>-->
        <!--</div>-->
    <!--</div>-->
</ul>