<tru-label label="{{label}}" field="field">
    <div>
        <std-textbox-edit label="Address 1" field="field.children.address1"></std-textbox-edit>
    </div>
    <div style="margin-top:5px">
        <std-textbox-edit label="Address 2" field="field.children.address2"></std-textbox-edit>
    </div>
    <div style="margin-top:5px;width:100%;">
        <div style="float:left;width: calc(100% - 255px);">
            <std-textbox-edit label="City" field="field.children.city"></std-textbox-edit>
        </div>
        <div style="float:left;width:115px">
            <std-dropdown-edit label="State" field="field.children.state"></std-dropdown-edit>
        </div>
        <div style="float:left;width:140px">
            <std-masked-edit label="Zip" field="field.children.zip"></std-masked-edit>
        </div>
    </div>
</tru-label>






