<tru-label label="{{label}}" field="field">
    <div class="ttl-date-wrapper">
        <div>
            <input data-ng-model="field.value.$"
                   data-ng-disabled="!field.editor.isEditing || !field.type.canEdit"
                   data-ng-trim="false"
                   data-std-date
                   data-std-calendar display="show"
                   data-z-validate
                   type="text"
                   class="ttl-date"/>
        </div>
        <button data-ng-click="show = !show"
                data-ng-disabled="!field.editor.isEditing || !field.type.canEdit"
                tabindex="-1"
                class="ttl-date-button"><i class="ttl-date-button-icon ico-calendar"></i>
        </button>
    </div>
</tru-label>