<div class="ttl-password-edit-wrapper">
    <div data-ng-class="{'ttl-password-edit-password-wrapper-not-editing': !field.editor.isEditing, 'ttl-password-edit-password-wrapper-editing': field.editor.isEditing}" class="ttl-password-edit-password-wrapper">
            <tru-label label="{{label}}">
                <input data-ng-show="!field.editor.isEditing"
                       placeholder="{{readOnlyPasswordPlaceHolder}}"
                       type="password"
                       readonly />
                <input data-ng-model="data.password"
                       data-ng-show="field.editor.isEditing"
                       data-ng-trim="false"
                       data-ng-mouseenter="mouseEnter()"
                       data-ng-mouseleave="mouseLeave()"
                       data-ng-class="{'ttl-invalid-input': invalid}"
                       data-ng-change="onChange()"
                       placeholder="{{passwordPlaceHolder}}"
                       type="password" />
            <span class="ttl-invalid-indicator" data-ng-show="field.editor.isEditing && invalid && mouseOver">
                <i class="icon-warning-sign icon-white"></i>{{invalidMessage}}
            </span>
        </tru-label>
    </div>
    <div data-ng-class="{'ttl-password-edit-password-confirm-wrapper-not-editing': !field.editor.isEditing}" class="ttl-password-edit-password-confirm-wrapper">
        <tru-label label="Confirm {{label}}" data-ng-if="field.editor.isEditing">
            <input data-ng-model="data.confirmPassword"
                   data-ng-trim="false"
                   data-ng-mouseenter="mouseEnter()"
                   data-ng-mouseleave="mouseLeave()"
                   data-ng-class="{'ttl-invalid-input': invalid}"
                   data-ng-change="onConfirmChange()"
                   placeholder="Confirm Password"
                   type="password" />
        </tru-label>
    </div>
</div>