<tru-label label="{{label}}">
    <div data-ng-class="{'ttl-operator-icon-has-value': !controlValueIsUndefined() || !valueIsUndefined()}" class="ttl-operator-icon-wrapper" title="{{operatorImageMessage}}">
        <i tabindex="-1" class="ttl-operator-icon" data-ng-class="operatorImage" data-ng-click="onOperatorClick()"></i>
    </div>
    <div style="padding-left:18px;">
        <select data-ng-model="field.value.$"
                data-ng-disabled="field.editor.isEditing"
                data-ng-options="x.value.$ as x.label for x in data.choices"
                data-ng-if="valueIsUndefined()"
                std-select-value-converter
                class="dropdown control"
                >
        </select>
        <p data-ng-if="!valueIsUndefined()">{{data.label}}</p>
    </div>
</tru-label>