<tru-label label="{{label}}">
    <div>
        <div class="ttl-integer-range-query-start">
            <div data-ng-class="{'ttl-operator-icon-has-value': data.startDate}" class="ttl-operator-icon-wrapper" title="{{startOperatorImageMessage}}">
                <i tabindex="-1" class="ttl-operator-icon" data-ng-class="startOperatorImage" data-ng-click="onStartOperatorClick()"></i>
            </div>
            <div style="padding-left:18px;">
                <input data-ng-model="data.startDate"
                       data-ng-disabled="field.property.startValue || field.editor.isEditing"
                       data-ng-trim="false"
                       data-std-date
                       type="text"
                       >
            </div>
        </div>
        <div class="ttl-integer-range-query-end">
            <div data-ng-class="{'ttl-operator-icon-has-value': data.endDate}" class="ttl-operator-icon-wrapper" title="{{endOperatorImageMessage}}">
                <i tabindex="-1" class="ttl-operator-icon ttl-integer-range-query-end-icon" data-ng-class="endOperatorImage" data-ng-click="onEndOperatorClick()"></i>
            </div>
            <div class="ttl-integer-range-query-end-input-wrapper">
                <input data-ng-model="data.endDate"
                       data-ng-disabled="field.property.endValue || field.editor.isEditing"
                       data-ng-trim="false"
                       data-std-date
                       type="text"
                       >
            </div>
        </div>
    </div>
</tru-label>