/* ---------------------------------------------------------------------
Password-Edit Styles
------------------------------------------------------------------------ */

.ttl-password-edit-wrapper {
    display: table;
    width: 100%;
}

.ttl-password-edit-password-wrapper {
    display: table-cell;
}

.ttl-password-edit-password-wrapper-editing {
    padding-right: 4px;
}

.ttl-password-edit-password-wrapper-not-editing {
    width: 100%;
}

.ttl-password-edit-password-confirm-wrapper {
    display: table-cell;
}

.ttl-password-edit-password-confirm-wrapper-not-editing {
    padding-left: 0 !important;
}